.footer ul li {
    display: inline-block;
    margin-right: 32px;
}

.footer ul li:last-child {
    margin-right: 0;
}

.page-footer {
    background: #6278F7;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
}

.footer .copyright {
    font-size: 14px;
}


.footer .logo img {
    width: 100px;
    height: 40px;
}



.social-media-list {
    list-style: none;
    display: flex;
    padding: 0px;
}

.social-media-list li {
    margin-right: 16px;
}